nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    flex-wrap: wrap;
  }

  @media (max-width: 945px) {
    nav {
      height: 15vh;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }

    nav > h2 {
      font-family: "Press Start 2P", serif;
      font-size: 14px;
    }

    nav > ul > li > a {
      font-size: 12px;
    }
  }
  
  
  nav > ul {
    display: flex;
    gap: 3rem;
  }
  
  nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
  }
  
  nav a {
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: var(--highlight);
    text-shadow: 0 0 1px var(--highlight), 0 0 10px var(--highlight);
  }

  nav > h2 {
    font-family: "Press Start 2P", serif;
    font-size: 16px;
  }

  nav a {
    font-family: "Press Start 2P", serif;
    font-size: 16px;
  }

