.about {
    padding: 0 8rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 50px;
  }


  .aboutsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .aboutsection > p {
    width: 75%;
  }

  
  .textAbout {
    font-family: "Press Start 2P", serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
  }
  
  .description {
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
  }

  .hobbiessection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%; 
    margin: auto;
    margin-bottom: 50px;
  }
  
  .hobbies{
    font-family: "Press Start 2P", serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .hobbiesList{
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hobbiesList > li{
    font-family: "Press Start 2P", serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-top: 15px;
    line-height: 25px;
  }

  .icon{
    font-size: 20px;
  }


  @media (max-width: 950px) {
    .hobbiessection {
      grid-template-columns: 1fr;
      width: 100%;
      padding: 10px;
    }
    .hobbiesList{
      padding: 0 1rem;
    }
    .aboutsection > p {
      width: 100%;
    }
  }

  @media (max-width: 770px) {
    .about {
      padding: 0 3rem;
    }
  }


.hobbiesList li {
  width: fit-content;
  clip-path: inset(0 100% 0 0);
  animation: l5 2.5s steps(11) 1 forwards; 
}

@keyframes l5 {
  to{
    clip-path: inset(0 -1ch 0 0)
  }
}

.aboutphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.aboutphoto > img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid var(--highlight);
  box-shadow: 0 0 10px var(--highlight), 0 0 25px var(--highlight);
  border-radius: 50%;
  transition: all 1s ease-out;
}

.aboutphoto > img:hover{
  box-shadow: 0 0 20px var(--highlight), 0 0 70px var(--highlight);
}